:root {
    --bg-color: #191917;
    --text-color: #B4CBD2;
    --red-color : #BF2121;
  }

.films-header {
    color: var(--red-color);
  }
  
.series-header {
    color: var(--text-color);
}
  
.section-scroll button:hover {
  background-color: var(--bg-color);
  border: 1px solid var(--bg-color);
  color: var(--text-color);
}

.section-scroll button:focus {
  outline: none;
  border: 2px solid var(--bg-color);
  color: var(--text-color);
}
